<!--<fieldset>
    <legend>Information</legend>
    <label>Day of weak<input type="number" id="tentacles" name="tentacles" min="0" max="5" required></label>
    <label>E-mail<input type="email" required></label>
</fieldset>-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>Schedule</title>
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>



<form action="#" th:action="@{/schedule}" th:object="${scheduleDto}" method="post">
    <div>
        <label for="dayOfWeek">Day of weak</label>

        <input id="dayOfWeek" type="number" th:field="*{dayOfWeek}" name="dayOfWeek" value="1" step="1" min="0" max="5" required>
    </div>

    <div>
        <label for="from">From</label>
        <input id="from" type="time" name="from" th:field="*{from}" value="08:00" min="08:00" max="18:00" required>
    </div>

    <div>
        <label for="to">To</label>
        <input id="to" type="time" name="to" th:field="*{to}" value="09:45" min="09:45" max="19:45" required>
    </div>

    <div>
        <label class="subj" for="subject">Subject</label>
        <input id="subject" type="number" name="subject" th:field="*{subject}" value="1" step="1" min="0" max="4" required>
    </div>

    <div>
        <label for="classroomId">Classroom</label>
        <input class="block" id="classroomId" type="number" name="classroomId" th:field="*{classroomId}" value="1" required>
    </div>

    <div>
        <label for="groupId">Group_id</label>
        <input class="block" id="groupId" type="number" name="groupId" th:field="*{groupId}" value="1" required>
    </div>

    <div>
        <label for="teacherId">Teacher_id</label>
        <input class="block" id="teacherId" type="number" name="teacherId" th:field="${scheduleDto.teacherId}" value="1" required>
    </div>

    <div>
        <input type="submit" value="Send">
    </div>
</form>

</body>
</html>
