<!--<fieldset>
    <legend>Information</legend>
    <label>Day of weak<input type="number" id="tentacles" name="tentacles" min="0" max="5" required></label>
    <label>E-mail<input type="email" required></label>
</fieldset>-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>Schedule</title>
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>


<form action="#" method="post" th:action="@{/schedule}" th:object="${scheduleDto}">
    <div>
        <label for="dayOfWeek">Day of weak</label>

        <input id="dayOfWeek" max="5" min="0" name="dayOfWeek" required step="1" th:field="*{dayOfWeek}" type="number"
               value="1">
    </div>

    <div>
        <label for="from">From</label>
        <input id="from" max="18:00" min="08:00" name="from" required th:field="*{from}" type="time" value="08:00">
    </div>

    <div>
        <label for="to">To</label>
        <input id="to" max="19:45" min="09:45" name="to" required th:field="*{to}" type="time" value="09:45">
    </div>

    <div>
        <label class="subj" for="subject">Subject</label>
        <input id="subject" max="4" min="0" name="subject" required step="1" th:field="*{subject}" type="number"
               value="1">
    </div>

    <div>
        <label for="classroomId">Classroom</label>
        <input class="block" id="classroomId" name="classroomId" required th:field="*{classroomId}" type="number"
               value="1">
    </div>

    <div>
        <label for="groupId">Group_id</label>
        <input class="block" id="groupId" name="groupId" required th:field="*{groupId}" type="number" value="1">
    </div>

    <div>
        <label for="teacherId">Teacher_id</label>
        <input class="block" id="teacherId" name="teacherId" required th:field="${scheduleDto.teacherId}" type="number"
               value="1">
    </div>

    <div>
        <input type="submit" value="Send">
    </div>
</form>

</body>
</html>
